/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* height: 100vh;
  display: flex; 
  align-items: center" */
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.container {
  max-width: 600px;
  height: 280px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  margin-bottom: 40px;
}

/* .form-group {
  margin-bottom: 50px;
} */

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  /* background-color: #1743e3; */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.getHistory1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.getHistory2 {
  margin-top: 40px;
}
