/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}
.container {
  align-items: center;
  /* max-width: 600px; */
  height: 430px;
  width: 570px;
  margin: 50px auto;
  /* padding: 20px; */
  padding-left: 15px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
  padding-bottom: 5px; /* Padding between form groups */
  /* border-bottom: 1px solid #ccc; Adding a line between form groups */
}

.form-group:last-child {
  margin-bottom: 0; /* Remove margin bottom for the last form group */
  padding-bottom: 0; /* Remove padding bottom for the last form group */
  border-bottom: none; /* Remove bottom border for the last form group */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 16px); /* Adjusted width to accommodate padding */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Adding margin between input fields */
}

button {
  width: calc(97% + 2px);
  /* Adjusted width to match input fields */
  padding: 10px;
  /* background-color: #1743e3; */
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Margin from the last input field */
}

button:hover {
  background-color: #0056b3;
}
